amplify/backend/function/DeleteActivity/delete-activity-state-machine.json
{
  "Comment": "Delete an activity and all resources associated (e.g. participants and comments)",
  "StartAt": "DeleteActivity",
  "States": {
    "DeleteActivity": {
      "Type": "Task",
      "Resource": "${lambdaArn}",
      "Parameters": {
        "action": "deleteActivity",
        "activityId.$": "$.activityId",
        "expectedVersion.$": "$.expectedVersion",
        "identityId.$": "$.identityId"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyActivityDeletedFailed"
        }
      ],
      "ResultPath": null,
      "Next": "DeleteActivityParticipations"
    },
    "DeleteActivityParticipations": {
      "Type": "Task",
      "Resource": "${lambdaArn}",
      "Parameters": {
        "action": "deleteActivityParticipations",
        "activityId.$": "$.activityId"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyActivityDeletedFailed"
        }
      ],
      "ResultPath": null,
      "Next": "DeleteActivityComments"
    },
    "DeleteActivityComments": {
      "Type": "Task",
      "Resource": "${lambdaArn}",
      "Parameters": {
        "action": "deleteActivityComments",
        "activityId.$": "$.activityId"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyActivityDeletedFailed"
        }
      ],
      "ResultPath": null,
      "Next": "NotifyActivityDeletedSuccessfully"
    },
    "NotifyActivityDeletedSuccessfully": {
      "Type": "Task",
      "Resource": "${lambdaArn}",
      "Parameters": {
        "action": "notifyDeleteActivitySuccessful",
        "activityId.$": "$.activityId",
        "identityId.$": "$.identityId"
      },
      "ResultPath": null,
      "End": true
    },
    "NotifyActivityDeletedFailed": {
      "Type": "Task",
      "Resource": "${lambdaArn}",
      "Parameters": {
        "action": "notifyDeleteActivityFailed",
        "activityId.$": "$.activityId",
        "identityId.$": "$.identityId"
      },
      "ResultPath": null,
      "End": true
    }
  }
}
